{
  "presets": [
    [
      "@babel/env", {
        "targets": {
          "esmodules": true,
          "browsers": [
            "last 5 versions",
            "ie >= 8"
          ]
        }
      }
    ]
  ]
}